#navigator
{
	display: flex;
	margin-bottom: 40px;
}

#navigator #append
{
	font-size: 60px;
	font-family: Outfit;
	color: #5C8374;
	margin-right: 10px;
}

#navigator #tabs
{
	flex: 1;
	font-size: 1.5em;
	border-bottom: 1px solid #183D3D;
}

#navigator #tabs button
{
	height: 100%;
	margin: 0 2% 0 2%;
	
	font-family: Outfit;
	font-weight: light;
	font-size: 25px;
	color: #93B1A6;
}

#navigator #tabs .selected
{
	border-bottom: 2px solid #93B1A6;
}

/* ------------------------------------- */

#library
{
	justify-content: center;
}

#library .book
{
	all:unset;
	max-width: 200px;
	cursor: pointer;
	margin: 0px 5px 30px 5px;
}

.book .cover
{
	display: flex;
	flex-direction: row;
}

.book .cover .cover_img
{
	width: 90%;
}

.book .cover .cover_slider
{
	width: 5%;
	padding: 2%;
	-webkit-appearance: slider-vertical;
}

..book .cover .cover_slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 10px;
	border: none;
	border-radius: 5px;
	background-color: #ecf0f3;
	box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
				inset -2px -2px 12px rgba(255, 255, 255, 0.5),
				inset 2px 2px 4px rgba(255, 255, 255, 0.1),
				inset 2px 2px 8px rgba(0, 0, 0, .3);
	outline: none;
}
.book .cover .cover_slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
	box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
				-2px -2px 12px rgba(255, 255, 255, 0.5),
				inset 2px 2px 4px rgba(255, 255, 255, 0.1),
				2px 2px 8px rgba(0, 0, 0, .3);
	background-color: #f252a5;
}
.value {
	position: absolute;
	top: 20px;
	left: 10px;
	width: 125px;
	height: 10px;
	border-radius: 5px 0 0 5px;
	background-color: #f252a5;
}

.book .book_title
{
	color: #fff;
	font-family: Outfit;
	font-size: 16pt;

	margin-top: 10px;
}

.book .book_author
{
	color: #183D3D;
	font-family: Outfit;
	font-size: 14pt;
}