body
{
	background: linear-gradient(75deg, #040D12 0%, #183D3D 250%);
	background-attachment: fixed;
	
	display: flex;
	flex-direction: column;

	padding: 1%;
}

#navbar
{
	-webkit-app-region: drag;
	height: 70px;
}